1\. L<span style="color: var(--vscode-foreground);">ekérdezés, a Rendeles tábla LOGIN oszlopában található stringek hossza és az adott hosszúságú stringek darabszáma</span>

In [24]:
SELECT LEN([LOGIN]) AS 'Hossz',
       COUNT(*) AS 'Darabszám'
FROM Rendeles
GROUP BY LEN([LOGIN])
ORDER BY COUNT(*) DESC

Hossz,Darabszám
7,9471
5,5283
6,4780
8,3873
9,1421
4,1406
10,993
3,842
11,16

2\. Lekérdezés, a Rendeles tábla szall\_cim oszlopában levő null értékek százalékos megoszlása

In [28]:
SELECT  100* SUM(IIF(szall_cim IS NULL, 1,0))/COUNT(*) AS 'szazalek'
FROM Rendeles

szazalek
77

![]()

3\. Lekérdezés, a Rendeles tábla, SORSZÁM oszlop értékeinek minimuma, maximuma, átlaga és szórása.

In [35]:
SELECT MIN(SORSZAM) AS 'minimum', 
       MAX(SORSZAM) AS 'maximum', 
       AVG(SORSZAM) AS 'átlag', 
       STDEV(SORSZAM) AS 'szórás'
FROM Rendeles
WHERE SORSZAM IS NOT NULL

minimum,maximum,átlag,szórás
1,28085,14043,"8107,58549137781"